.jumbotron
{
  background: url('http://redonline.cdnds.net/main/thumbs/5785/that-girl-hiit-workout-redonline.co.uk.jpg') no-repeat center center;
  background-position: 0% 25%;
  background-repeat: no-repeat;
  position: left;
  height: 500px;
  width: 500px;
} 
