.jumbotron
{
  background: url('https://greatist.com/sites/default/files/which-workout-feature.jpg') no-repeat center center;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
} 
