.jumbotron
{
  background-image:'https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2017/07/04/11/post-workout-mistake-stretching.jpg' no-repeat center center;
  background-position: 0% 25%;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  color: black;
} 
