@font-face {
    font-family: Amethyst;
    src:url('fonts/Amethyst.ttf');
	}
	@font-face {
	font-family: KLGabe;
	src: url('fonts/KLGabe.ttf');
	}

	@font-face {
	font-family: hamer;
		src: url('fonts/HamerRegular.otf');

}

@font-face {
	font-family:bodrum;
	src: url('fonts/Bodrum.ttf');
}

h1{
	font-family: bodrum;
	font-size: 75px;
}