<!DOCTYPE html>
<html>
<head>
<title>abs</title>
<link rel = "stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel = "stylesheet" href="{{url_for('static', filename='workoutplan.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</style>
</head>
<body>
	<br><br><nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    </div>
	    <ul class="nav navbar-nav">
	    	<li><a href="home">HOME</a></li>
	    	<li class="active"><a href="abs">ABS</a></li>
	    	<li><a href="glutes">GLUTES</a></li>
	    	<li><a href="chest">CHEST</a></li>
	    	<li><a href="arms">ARMS</a></li>
	    	<li><a href="legs">LEGS</a></li>
	    	<li><a href="fullbody">FULL BODY</a></li>
	    </ul>
	</nav>
		</div>
<div class="page-header">
	<h1 style="font-family: bodrum; text-align: center;"> ABS </h1>
</div>
	<div class="container">
		<div class="col-md-4">
		<img src="https://i.pinimg.com/564x/f1/8a/f8/f18af88c4c6f73fe1f8647cc7216a017.jpg" style="width:600px; height:600px; width:100%;"> 
		</div>
	<div class="col-md-4">
		<img src="https://i.pinimg.com/564x/a2/08/3a/a2083a03ff96bdf6f397fd0a9b4aecfc.jpg" " style= "width:600px; height:600px; margin-right: 100px; width:100%; ">
	</div>
	<div class="col-md-4">
		<img src="https://i.pinimg.com/564x/bd/ca/bd/bdcabdf96dbb90450dabf5e48ec5d9c2.jpg" style="width:600px; height:600px; width:100%;"> 
	</div>
</div>
</body>
</html>
