<!DOCTYPE html>
<html>
<head>
	<title>Motivational Quotes</title>
<link rel = "stylesheet" href="{{url_for('static', filename='Quotes.css')}}">
<link rel = "stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	

</style>
</head>
<body>

<br><br><nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    </div>
	    <ul class="nav navbar-nav">
	 		<li><a href="home">HOME</a></li>
	    	<li><a href="workouts">WORKOUT VIDEOS</a></li>
	    	<li><a href="Workoutplans">WORKOUT ROUTINES</a></li>
	    	<li class="active"><a href="Quotes">QUOTES</a></li>
	    	<li><a href="about">ABOUT</a></li>
	    </ul>
	</nav>
	<div class="page-header ">
		<h1 style="font-family: Amethyst; text-align: center;"> QUOTES </h1>
	</div>
	<div class="silde-show-container">
	<div class="row">
	 <div class="mySlides">
	<div class="numbertext">1 / 3</div>
	<img src="{{url_for('static', filename='newquote1.jpeg')}}" alt="Cinque Terre" style="width:100%; height:360px;" >
</div>

	 <div class="mySlides">
	<div class="numbertext">2 / 3</div>
	<img src="{{url_for('static', filename='newquote2.jpg')}}" alt="Cinque Terre" style="width:100%; height:360px;">
</div>
	<div class="mySlides ">
	<div class="numbertext">3 / 3</div>
	<img src="{{url_for('static', filename='newquote3.jpg')}}"  alt="Cinque Terre" style="width:100%; height:360px;" >
</div>
	 <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>
</div>
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
</body>
</html>